.search-form__hiden-checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden; 
    clip: rect(0 0 0 0);
} 
.search-form__visible-checkbox {
    display: inline-block; 
    vertical-align: middle;
    width: 36px;
    height: 20px;
    background-image: url(../../images/smalltumboff.svg);
  }

  .search-form__hiden-checkbox:checked + .search-form__visible-checkbox {
    background-image: url(../../images/filterCheckboxOn.svg);
  }
  .search-form__hiden-checkbox:focus + .search-form__visible-checkbox {
    border-radius: 20px;
    outline: 1px solid #2BE080;
  }
  .search-form__visible-checkbox-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    margin: 0 0 0 12px;
  }
  .search-form__checkbox-container {
    display: flex;
    justify-content: center;
    width: fit-content;
    margin: auto;
    box-sizing: border-box;
    cursor: pointer;
    transition: visibility 0s, opacity 0.5s;
  }
  .search-form__checkbox-container:hover {
    opacity: .7;
  }
  @media screen and (max-width: 750px){
      .search-form__visible-checkbox-text {
          font-size: 11px;
          margin: 0 0 0 13px;
      }

  }