.about-project {
    padding: 110px 70px 0;
}
.about-project__text-content {
    display: flex;
    flex-direction: column;
    gap: 22px;
}
.about-project__quote {
    margin: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.04em;
    width: 420px;
}
.about-project__paragraph {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    width: 420px;
}
.about-project__two-column {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.about-project__time-line {
    margin: 110px 0;
    display: grid;
    grid-template-columns: 228px 1fr;
    grid-auto-rows: 36px 36px;
}
.about-project__first-week {
    background-color: #2BE080;
    display: flex;
}

.about-project__four-weeks {
    display: flex;
    background: #F2F2F2;
}
.about-project__time-line-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: black;
    margin: auto;
}
.about-project__time-line-text_color_gray {
    font-weight: 500;
    color: #A0A0A0;
}