.auth-form {
    margin: 70px auto;
    display: flex;
    width: 396px;
    flex-direction: column;
}
.auth-form__form {
    margin: 40px 0 0;
    display: flex;
    flex-direction: column;
}
.auth-form__title {
    margin: 0 0 40px 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}
.auth-form__input-container {
    display: flex;
    flex-direction: column;
    border: none;
    margin: 0 0 134px 0;
    padding: 0;
}
.auth-form__input-name {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #A0A0A0;
    margin: 0;
    padding-bottom: 5px;
}
.auth-form__text-field {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin: 0;
    border: none;
    outline: none;
    border-bottom: 1px solid #E8E8E8;
    width: 100%;
    padding: 0 0 10px;
}
.auth-form__error-message {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #FF3055;
    margin: 0;
    visibility: hidden;
}
.auth-form__error-message_visible {
    visibility: visible;
}

.auth-form__text-field:focus {
    border-bottom: 1px solid #3456F3;
}
.auth-form__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #A0A0A0;
    margin: 16px 0 0;
}
.auth-form__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #3456F3;
    text-decoration: none;
}