.about-me {
    padding: 110px 70px 0;
}
.about-me__name {
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    letter-spacing: -0.04em;
    margin: 0;
}
.about-me__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    margin: 18px 0 0;
}

.about-me__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    margin: 26px 0 0;
}
.about-me__info-text-content {
    width: 600px;
}
.about-me__info {
    display: flex;
    justify-content: space-between;
    margin-top: 66px;
}
.about-me__link-icon {
    background-image: url("../../images/gitlink.svg");
    width: 29px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: center;
}
.about-me__photo {
    width: 270px;
    height: 327px;
    object-fit: cover;
    border-radius: 10px;
}
.about-me__social-networks {
    padding: 0;
    margin: 100px 0;
    list-style-type: none;
    display: flex;
    gap: 20px;
}
.about-me__social-networks-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    margin: 0;
    color: #000000;
    cursor: pointer;
    transition: visibility 0s, opacity 0.5s;
}
.about-me__social-networks-link:hover {
    opacity: .7;
}
